a.tile {
    display: inline-block;
    height: 100px;
    max-height: 100px;
    width: 100%;
    max-width: 100px;
    background-color: lightgray;
    border: 1px solid slategray;
    margin: 1em;
}

#tileContainer {
    width:  100vw;
    height:  auto;

}

/*.box {
    display: block;
    padding:  1em;
    margin:  0 auto;
    width: 100%;
}*/