body {
    background-color: black;
}

#headerDiv {
    text-align: center;
    color: white;
    padding: 10px;
    border: 1px solid white;
}

#controlsDiv {
    text-align: center;
    border: 1px solid white;
}

#gameDiv {
    text-align: center;
    border: 1px white solid;
    padding: 20px;
}

#levelText {
    padding: 10px;
    color: white;
    font-size: 200%;
}

#tileContainer {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    padding: 5px;
}

.tile {
    height: 180px;
    width:  180px;
    border: 5px solid;
    opacity: .6;
}

#red {
    background-color: darkred;
    margin: 10px 5px 5px 10px;
    border-radius: 100px 80% 5px 80%;
    border-color: darkred;
}

#blue {
    background-color: dodgerblue;
    margin: 10px 10px 5px 5px;
    border-color: dodgerblue;
    border-radius: 80% 100px 80% 5px;

}

#green {
    background-color: forestgreen;
    margin: 5px 5px 10px 10px;
    border-radius: 80% 5px 80% 100px;
    border-color: forestgreen;
}

#yellow {
    background-color: yellow;
    margin: 5px 10px 10px 5px;
    border-radius: 5px 80% 100px 80%;
    border-color: yellow;
}

.active {
    opacity: 1;
}