@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
    background-color: dimgrey;
}

h1 {
    text-align: center;
    color: black;
    text-shadow: 1px 3px rgba(225, 225, 225, .8);
    font-family: 'Righteous', cursive;
    font-weight: bolder;
    font-size: 3em;
    letter-spacing: 4px;
}

#headerDiv {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, .5);
    align-content: stretch;
}

#levelText {
    display: flex;
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
}

.btn {
    height: 25%;
    width: 25%;
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 1.5em;
    border-radius: 10px;
    background-color: black;
    color: ghostwhite;
}

#gameText {
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 1.5em;
}

#gameContainer {
    background-color: black;
    box-sizing: border-box;
    height: 350px;
    width: 350px;
    border-radius: 50px;
    padding: 2px;
}

#tileContainer {
    align-content: space-around;
    margin: 2px;

}

.tile {
    display: flex;
    align-self: auto;
    flex-wrap: wrap;
    height: 170px;
    width: 170px;
    opacity: .5;
}

.active {
    opacity: 1;
}


#red {
    background-color: red;
    border-radius: 50px 0 0 0;
}

#blue {
    background-color: blue;
    border-radius: 0 50px 0 0;
}

#green {
    background-color: green;
    border-radius: 0 0 0 50px;
}

#yellow {
    background-color: yellow;
    border-radius: 0 0 50px 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
}